body {
    overflow: hidden;
}
#playAreaSVG {
    position: absolute;
    top: 0px;
    left: 0px;
    /*on bottom*/
    z-index: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
g.cards_in_hand image {
    opacity: .7;
}
.hiddenFeatureGroup {
    display: none;
}
/*#viewControls {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 100px;
}*/
#gameControlsLeft {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 400px;
}
#gameControlsLeft > *{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999999;
}
#gameControlsRight {
    position: absolute;
    top: 10px;
    right: 10px;
}
#deckList {
    min-width: 200px;
}
#loadDeckBox {
    max-width: 300px;
}
#coordDisplay {
    position: absolute;
    left: 10px;
    bottom: 10px;
    max-width: 200px;
}
#motionDisplay {
    position: absolute;
    left: 10px;
    bottom: 30px;
    max-width: 200px;
}
#motionDisplayCorrected {
    position: absolute;
    left: 10px;
    bottom: 70px;
    max-width: 200px;
}
#addDeckHeader {
    text-align: right;
}
#deckButtonBox {
    display: none;
}
.actionBox {
    position: absolute;
    /*off screen initially*/
    top: -1000px;
    left: -1000px;
}
.actionBox div:hover {
    background-color: lavender;
}
.actionBox div:active {
    background-color: cornflowerblue;
}
.actionBox div.deleteItem:hover {
    background-color: red;
}
.links {
    cursor: pointer;
    text-decoration: underline;
}
.overlayItem {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    /*on top of everything else*/
    z-index: 1;
}
.inline {
    display: inline-block;
}
.button rect {
    fill: rgb(106, 164, 223);
}
.marker rect {
    fill: rgb(155, 255, 155);
}